# Active environment
NODE_ENV=development



# Local Supabase
DATABASE_URL_LOCAL=postgresql://postgres:postgres@127.0.0.1:54322/postgres



# Development Supabase
DATABASE_URL_DEV=postgresql://postgres:[PASSWORD]@db.xxxprod.supabase.co:5432/postgres



# Production Supabase (or use environment variables in deployment)
DATABASE_URL_PROD=postgresql://postgres:[PASSWORD]@db.xxxprod.supabase.co:5432/postgres

