# Active environment
APP_ENV=local


# Local Supabase
DATABASE_URL_LOCAL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# Test database (used by jest integration tests). Use a dedicated DB generally named with 'test'.
DATABASE_URL_TEST=postgresql://postgres:postgres@127.0.0.1:54422/finite_watches_test



# Development Supabase
DATABASE_URL_DEV=postgresql://postgres:[PASSWORD]@db.xxxprod.supabase.co:5432/postgres



# Production Supabase (or use environment variables in deployment)
DATABASE_URL_PROD=postgresql://postgres:[PASSWORD]@db.xxxprod.supabase.co:5432/postgres

